.video {
    position:relative;
    padding-bottom:56.25%;
}

.video iframe {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}

.house-passports-arrow {
    transition: transform 1s ease;
}

.house-passports-arrow-rotate {
    transform: rotate(180deg);
}

.dtImage {
    max-height: 150px;
}
